DATABASE_URL=postgres://postgres:postgres@localhost:5432/app_prefeitura_user

API_KEY=senha

APPLICATION_PORT=port

# man, dev or prod
NODE_ENV=development

MAIL_ADRESS=mail
MAIL_PASSWORD=pass
MAIL_HOST=host